<div class="bg-footer">
    <div class="container-xxl footer d-flex flex-column gap-2 pt-5 pb-5">
        <i class="bi bi-stars fs-1"></i>
        <strong>Footer works!</strong>
        <p class="opacity-75 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit!</p>
        <div class="footer-icons d-flex justify-content-end gap-5 mt-3 fs-4">
            <a href="#"><i class="bi bi-behance"></i></a>
            <a href="#"><i class="bi bi-twitter-x"></i></a>
            <a href="#"><i class="bi bi-instagram"></i></a>
            <a href="#"><i class="bi bi-github"></i></a>
        </div>
    </div>
</div>