<div style="height: 85vh;" class="container-xxl d-flex align-items-center">
    <div class="card col-lg-5 col-md-10 col-sm-12 mx-auto border bg-body-tertiary rounded">
        <div class="card-header text-center">
            <i class="bi bi-moon-fill fs-6"></i><br>
            Entre no <span class="font-orbit fs-6">Lunar</span>
        </div>
        <div class="card-body col-lg-10 col-md-10 col-sm-12 mx-auto my-100">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingInput" placeholder="Email">
                    <label for="floatingInput">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <div class="row mt-4 mx-1 d-flex align-items-center">
                    <a href="#" class="col-lg-8 col-md-8 col-sm-12 text-decoration-none mb-3">Esqueci minha senha</a>
                    <a href="#" class="col-lg-4 col-md-4 col-sm-12 btn btn-primary">Entrar</a>
                </div>
        </div>
        <div class="card-footer text-center">
            <p class="">Ainda não possui uma conta em nosso site?</p>
            <a href="#" class="btn btn-outline-light">Cadastre-se</a>
        </div>
    </div>
</div>