<div *ngIf="initMovies.length == 0" class="container-xxl page-container mb-3">
    <div class="pb-5 pt-5">
        <div class="d-flex flex-column align-items-center pt-5">
            <p-skeleton width="85vw" height="50vh"
            [style]="{background: '#ababab10'}">
            </p-skeleton>
        </div>
    </div>
</div>

<div *ngIf="initMovies.length > 0">
    <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="img-bg-1 animation-duration-1000 animation-ease-in-out">
        <div class="container-xxl page-container mb-3">
            <div class="section-1-space">
                <div pAnimateOnScroll enterClass="scalein" leaveClass="fadeout" class="glass-effect-2 rounded-4 animation-duration-2000 animation-ease-out">
                    <div class="ani-center text-animation">
                        <p class="line typing-animation">
                            lunar home works<i class="bi bi-stars ms-2"></i>
                        </p>
                    </div>
                    <p-carousel [value]="initMovies"
                        [numVisible]="6" [numScroll]="6"
                        [circular]="false" [responsiveOptions]="responsiveOptions">
                        <ng-template let-movie pTemplate="item">
                            <div class="banner">
                                <div pAnimateOnScroll enterClass="flipleft" leaveClass="fadeout" class="min-card d-flex flex-column text-center animation-duration-2000 animation-ease-out">
                                    <div>
                                        <a [routerLink]="'movie/'+movie.imdbID">
                                            <img src='{{ movie.Poster }}'/>
                                        </a>
                                    </div>
                                    <div class="desc">
                                        <small>{{ movie.Title }}</small>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-carousel>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="container-xxl section-container search-section">
        <div class="row">
            <div pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeinright" class="col-md-8 col-12 search-section-1 animation-duration-3000 animation-ease-in-out">
                <div class="row p-2">
                    <div class="col-12 col-sm-7 col-lg-9">
                        <p class="fs-4 fw-bold">Procurar filmes</p>
                    </div>
                    <div class="col-12 col-sm-5 col-lg-3 button-search">
                        <a routerLink="search">
                            <p class="text-center">
                                clique aqui
                            </p>
                        </a>
                    </div>
                    <div class="col-12 text-body-tertiary">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi fuga sed explicabo esse vero, optio labore blanditiis voluptatem corrupti laudantium veritatis consequuntur sit laborum. Eligendi earum tenetur cumque sunt temporibus molestiae porro eos unde dolorem totam aperiam aut, atque maiores suscipit similique ipsum praesentium nesciunt est aliquam repellat deserunt officiis nam. Expedita recusandae possimus rerum non at deleniti ipsum perferendis ex laudantium, atque mollitia omnis voluptatibus iure laboriosam sunt cum dignissimos ipsam aperiam reiciendis consequuntur nobis!
                    </div>
                </div>
            </div>
            <div class="col-md-1 col-12"></div>
            <div pAnimateOnScroll enterClass="flipleft" leaveClass="fadeinright" class="col-md-3 col-12 col-img animation-duration-3000 animation-ease-in-out">
                <img src="../../../assets/horrormovie.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="bg-fake section-2">
    <div class="container-xxl section-container">
        <div pAnimateOnScroll enterClass="zoomin" leaveClass="fadeinright" class="background-card d-flex gap-3 animation-duration-1000 animation-ease-in-out">
            <div pAnimateOnScroll enterClass="scalein" leaveClass="fadeinright" class="min-card best-movie d-flex animation-duration-3000 gap-3 animation-ease-in-out">
                <div>
                    <a [routerLink]="'movie/'+bestMovie.imdbID">
                        <img src='{{ bestMovie.Poster }}'/>
                    </a>
                </div>
                <div class="best-movie-desc">
                    <p class="fs-4 fw-bold">
                        {{ bestMovie.Title }}
                    </p>
                    <p class="text-body-secondary">2023</p>
                    <p class="text-body-tertiary">
                        {{ bestMovie.Plot }}
                    </p>
                </div>
            </div>
            <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeinright" class="best-movie-section-2 d-flex flex-column gap-2 animation-duration-3000 animation-ease-in-out">
                <div>
                    <p class="text-center">Lorem, ipsum dolor!</p>
                </div>
                <div class="d-flex gap-2 flex-column">
                    <a href="#" class="p-1">---------</a>
                    <a href="#" class="p-1">---------</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="space position-relative bg-fake section-3">
    <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="img-section animation-duration-1000 animation-ease-in-out">
        <div class="container-xxl section-container">
            <div pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="glass-effect-1 mini-card d-flex flex-column gap-3 text-center animation-duration-3000 animation-ease-in-out">
                <i class="bi bi-stars fs-1"></i>
                <a class="text-decoration-none" href="https://www.artstation.com/guweiz" target="_blank">Z.W. GUWEIZ</a>
            </div>
            <div pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="glass-effect-1 mini-card-2 animation-duration-3000 animation-ease-in-out">
                <a href="https://www.artstation.com/guweiz" target="_blank">
                    <img width="120px" src="https://cdna.artstation.com/p/users/avatars/000/136/170/large/cd4e6acc3de9a95046a932eead960d09.jpg?1449285434" alt="">
                </a>
            </div>
        </div>
    </div>
</div>