<div class="navbar fixed-top glass-effect">
  <nav id="navbar" class="container">
    <div class="container-fluid d-flex justify-content-between">
      <a class="btn btn-outline-secondary btn-border-none navbar-brand" href="#">
        <i class="bi bi-moon-stars d-inline-block align-text fs-4"></i>
      </a>
      <div class="items-navbar d-flex gap-2 align-items-center">
        <a class="item btn btn-outline-secondary btn-border-none" href="#" routerLink="search">
            search
        </a>
        <a class="item btn btn-outline-secondary btn-border-none" href="#" routerLink="search">
            search
        </a>
        <small class="border-end-1"></small>
        <a href="#"><i class="bi bi-chevron-down"></i></a>
      </div>
    </div>
  </nav>
</div>