<div class="navbar fixed-top glass-effect">
  <nav id="navbar" class="container-xxl">
    <div class="container-fluid d-flex justify-content-between ">
      <a class="btn btn-outline-secondary btn-border-none navbar-brand" href="#">
        <i class="bi bi-moon-stars d-inline-block align-text"></i>
      </a>
      <div class="items-navbar d-flex gap-2">
        <a class="item btn btn-outline-secondary btn-border-none" href="#">
            text
        </a>
        <a class="item btn btn-outline-secondary btn-border-none" href="#">
            text
        </a>
      </div>
    </div>
  </nav>
</div>