.container-fluid {
    padding: 1.2rem 0rem;
}

.navbar-brand {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1,-0.80,-1,1.5);
}

.items-navbar a {
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1,-0.80,-1,1.5);
}

.navbar:hover {
    .navbar-brand {
        rotate: 360deg;
        font-size: 2rem;
    }

    .item {
        font-size: 1.3rem;
    }
}