<nav id="navbar" class="navbar fixed-top glass-effect">
    <div class="container-fluid">
      <a class="btn btn-outline-secondary btn-border-none navbar-brand" href="#">
        <i class="bi bi-moon-stars d-inline-block align-text"></i>
      </a>
      <div class="navbar-items d-flex gap-2">
        <a class="btn btn-outline-secondary btn-border-none" href="#">
            text
        </a>
        <a class="btn btn-outline-secondary btn-border-none" href="#">
            text
        </a>
      </div>
    </div>
</nav>