.navbar-brand {
    background-color: transparent !important;
    margin: 0.2rem 0rem;
}

.navbar-brand i {
    background-color: transparent !important;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    transition-timing-function: cubic-bezier(1,-0.80,-1,1.5);
}

.navbar-brand:hover i {
    rotate: 360deg;
}

@media(max-width: 768px){
    .container-xxl {
        padding: 0rem 1rem 0rem 1rem !important;
    }
}