<form [formGroup]="formFilter" class="container-modified">
    <div class="title d-flex justify-content-between pt-3 mb-3">
        <div class="fs-5 fw-bold"><i class="bi bi-search pe-2"></i>Procurar filmes</div>
        <div>
            <button class="btn btn-sm btn-outline-secondary text-center" (click)="onClean()">
                <i class="bi bi-eraser-fill p-2"></i>
                <span class="pe-2">Limpar</span>
            </button>
        </div>
    </div>
    <div class="form-items row mb-3">
        <div class="col-lg-12 mb-3">
            <label for="name" class="form-label">Título <span class="text-body-tertiary">(em inglês)</span></label>
            <input type="text" formControlName="name" class="form-control" id="name">
        </div>
        <div class="col-lg-8 col-sm-12 mb-3">
            <label for="year" class="form-label">Ano</label>
            <input type="text" formControlName="year" class="form-control" formControlName="year" id="year">
        </div>
        <div class="col-lg-4 col-sm-12 mb-3">
            <div class="form-item d-flex flex-column">
                <label for="float-label" class="form-label">Tipo</label>
                <p-dropdown formControlName="type" [showClear]="false" [options]="types" optionLabel="name" id="float-label"></p-dropdown>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-12 btn-search">
            <button class="btn btn-sm btn-primary" (click)="onSubmit()">
                Pesquisar
            </button>
        </div>
    </div>
</form>