.btn-search {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-modified {
    margin: 0 auto;
    width: 50% !important;
}

@media(max-width: 992px){
    .container-modified {
        width: 100% !important;
    }
}