@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import "primeicons/primeicons.css";

:root {
    --main-color: #2A323D;
}

::selection{
    background-color: rgb(70, 70, 100);
}

*{
    font-family: 'Lato', sans-serif !important;
}

[data-bs-theme=dark] {
    --bs-dark-bg-subtle: rgb(15, 15, 15) !important;
    --bs-tertiary-bg-rgb: 70, 60, 70 !important;
}



// custom ----------------------------------------------

.page-container {
    margin: 7rem 7rem;
}

.btn-outline-secondary {
    --bs-btn-color: rgb(175, 175, 175) !important;
}

.btn-border-none {
    border: none !important;
}

.btn-border-none:hover {
    background: rgba(192, 192, 192, 0.158) !important;
}

.p-carousel-next, .p-carousel-prev {
    padding: 2rem 1rem;
    margin: 0rem 1rem 0rem 1rem;
    border-radius: 0.5rem;
}

.p-carousel-container {
    margin: 2rem 0rem 2rem 0rem;
}

.p-carousel-prev:hover, .p-carousel-next:hover {
    color: white;
    background-color: rgb(50, 50, 50);
}

.p-carousel-indicators button {
    border-radius: 3rem;
    height: 1rem;
    width: 1rem;
}

.card {
    --bs-card-bg: rgb(30, 30, 30) !important;
}

.p-carousel .p-carousel-indicators
.p-carousel-indicator.p-highlight button {
    background-color: #DC3545;
}

.glass-effect {
    background: linear-gradient(135deg, #14141460, #000000b0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}


// mobile ----------------------------------------------

@media(max-width: 768px){
    .page-container {
        margin: 7rem 2rem;
    }

    .p-carousel-next, .p-carousel-prev {
        padding: 3rem 2rem;
    }
}