@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');
@import "primeicons/primeicons.css";

:root {
    --main-color: #10141a;
}

::selection{
    background-color: rgb(67, 87, 112);
}

*{
    font-family: 'Lato', sans-serif !important;
}

[data-bs-theme=dark] {
    --bs-dark-bg-subtle: var(--main-color) !important;
}



// custom ----------------------------------------------

.container {
    max-width: 1580px !important;
    padding-right: 58px !important;
    padding-left: 58px !important;
}

.page-container {
    margin: 0rem 7rem 0rem 7rem;
}

.section-container {
    margin: 0rem 7rem 0rem 7rem;
}

.section-1-space {
    padding: 7.5rem 0rem 5rem 0rem;
}

.btn-border-none {
    border: none !important;
}

.btn-outline-secondary {
    --bs-btn-color: rgb(175, 175, 175) !important;
    --bs-btn-hover-bg: rgba(192, 192, 192, 0.150) !important;
    --bs-btn-hover-border-color: rgba(192, 192, 192, 0.150) !important;
}

.p-carousel-next, .p-carousel-prev {
    padding: 2rem 2rem;
    margin: 0rem 3rem;
    border-radius: 3rem;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}

.p-carousel-items-content button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
    cursor: pointer;
    background-color: rgba(52, 65, 85, 0.6);
}

.p-disabled, .p-component:disabled {
    opacity: 0.3;
}

.p-carousel-container {
    margin: 2rem 0rem 2rem 0rem;
}

.p-carousel-prev:hover, .p-carousel-next:hover {
    color: white;
    background-color: rgba(52, 65, 85, 0.9) !important;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.p-carousel-indicators button {
    border-radius: 3rem;
    height: 1rem;
    width: 1rem;
}

.p-carousel .p-carousel-indicators
.p-carousel-indicator.p-highlight button {
    background-color: #DC3545;
}

.glass-effect {
    background: #0102033b;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.glass-effect-1 {
    background: #33333328;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(64, 64, 64, 0.614);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.603);
}

.glass-effect-2 {
    background: #0f0f0f28;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.603);
}

.glass-effect-3 {
    background: #0f0f0f28;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

.p-dropdown-items-wrapper ul {
    padding-left: 0rem !important;
    padding-bottom: 0rem !important;
}

.p-dropdown {
    background: transparent;
    border: 1px solid #505457;
}

.p-dropdown-label {
    padding: 0.3rem 2rem 0.3rem 0.6rem;
}

// mobile ----------------------------------------------

@media(max-width: 768px){
    .page-container {
        margin: 0rem 2rem 0rem 2rem;
    }

    .p-carousel-next, .p-carousel-prev {
        margin: 0rem 1rem;
        padding: 1.7rem 1.7rem;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }

    .p-carousel-prev:hover, .p-carousel-next:hover {
        color: white;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

@media(max-width: 380px){
    .p-carousel-next, .p-carousel-prev {
        padding: 0rem;
        background-color: rgba(255, 255, 255, 0);
    }

    .p-carousel-prev {
        margin-left: 1rem;
    }

    .p-carousel-next {
        margin-right: 1rem;
    }

    .p-carousel-next:hover, .p-carousel-prev:hover {
        background-color: rgba(255, 255, 255, 0.0);
    }
}