/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Lato&family=Orbit&display=swap');

.font-geologica {
    font-family: Geologica;
}

.font-lato {
    font-family: Lato;
}

.font-orbit {
    font-family: Orbit;
}