<main>
    <div class="container-xxl">
        <div class="col-md-8 mx-auto text-center">
            <a href="#" class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 lh-sm text-decoration-none">
                <strong class="d-sm-inline-block p-2 mx-2 mb-2 mb-lg-0 rounded-3 masthead-notice">
                    <i class="bi bi-bag"></i>
                </strong>
                <span class="font-lato">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem!
                </span>
            </a>
        </div>
        <div style="max-width: 1250px;" class="mx-auto">
            <div style="position: relative; height: 100px" class="d-flex mx-auto align-items-center justify-content-center rounded-top-5 bac-moon">
                <div style="margin: 0; position: absolute;" class="bi bi-moon-fill fs-1"></div>
            </div>
            <div class="row justify-content-center">
                <div class="mt-4 col-lg-4 col-md-6">
                    <div class="card" style="max-width: 46rem;">
                        <div style="height: 100px;" class="card-header bg-secondary-subtle"></div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6">
                    <div class="card" style="max-width: 46rem;">
                        <div style="height: 100px;" class="card-header bg-secondary-subtle"></div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="mt-4 col-lg-4 col-md-6">
                    <div class="card" style="max-width: 46rem;">
                        <div style="height: 100px;" class="card-header bg-secondary-subtle"></div>
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                        <div class="card-footer text-end">
                            <a href="#" class="btn btn-outline-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>