<main>
    <div class="container-xxl border">
        <div class="col-md-8 mx-auto text-center">
            <a href="#" class="d-flex flex-column flex-lg-row justify-content-center align-items-center mb-4 lh-sm text-decoration-none">
                <strong class="d-sm-inline-block p-2 me-2 mb-2 mb-lg-0 rounded-3 masthead-notice font-orbit">
                    LUNAR
                </strong>
                <span class="font-lato">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, rem!
                </span>
            </a>
        </div>
        <div style="width: 1200px; height: 250px" class="border text-center mx-auto mb-5">
            <span>img</span>
        </div>
        <div class="row">
            <div class="border col-md-5 mx-auto text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, mollitia et! Aliquid accusantium obcaecati eaque, atque labore dolores earum velit animi, saepe, accusamus quis possimus rerum hic temporibus. Fugiat itaque dolor qui id, eveniet eum, doloribus, error quisquam consequatur tenetur excepturi corrupti incidunt aut? Officiis ab ut alias vel odit odio. Voluptates nihil illum fugiat dignissimos ipsum numquam dolor dolore sint. Voluptatem, eveniet sint in ut doloribus culpa earum saepe ad nostrum veritatis nesciunt dolore molestiae distinctio iure magnam beatae non suscipit facere nisi explicabo. Obcaecati voluptate architecto ipsa rerum tenetur harum sunt asperiores, quos vero veritatis, dolorem ex ipsum!
            </div>
            <div class="border col-md-5 mx-auto text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus, mollitia et! Aliquid accusantium obcaecati eaque, atque labore dolores earum velit animi, saepe, accusamus quis possimus rerum hic temporibus. Fugiat itaque dolor qui id, eveniet eum, doloribus, error quisquam consequatur tenetur excepturi corrupti incidunt aut? Officiis ab ut alias vel odit odio. Voluptates nihil illum fugiat dignissimos ipsum numquam dolor dolore sint. Voluptatem, eveniet sint in ut doloribus culpa earum saepe ad nostrum veritatis nesciunt dolore molestiae distinctio iure magnam beatae non suscipit facere nisi explicabo. Obcaecati voluptate architecto ipsa rerum tenetur harum sunt asperiores, quos vero veritatis, dolorem ex ipsum!
            </div>
        </div>
    </div>
</main>